body {
  font-family: 'Indie Flower', cursive;
  background-color: #d3b17380;;
  padding: 10px;
}
h1 {
  font: 100px;
  margin: 10px;
}

img {
  border-radius: 50px;
  height: 300px;
  width: auto;

}

.navbar {
  background-color: #dfa43780;
}

.nav-item {
  font: 100px;
}

.jumbotron {
  margin: 0;
  background-color: #b87a0852;
}

footer {
background-color: #dfa4377e;
}

.carousel-caption {
  background-color: rgba(192, 192, 192, 0.342);
}
